.instructions
  %h2= @instruction.title
  %p= link_to "Edit these instructions", edit_instruction_path(@instruction)

  %ul.steps
    - @instruction.steps.each do |step|
      %li.step{:class => "step_#{step.position}"}
        %h5= step.description
        %ul.commands
          - step.commands.each do |command|
            %li.command{:class => "command_#{command.position}"}
              %code= command.body